ALTER TABLE public.company_members DROP CONSTRAINT IF EXISTS company_members_role_check;
ALTER TABLE public.company_members ADD CONSTRAINT company_members_role_check CHECK (role IN ('OWNER', 'ADMIN', 'MEMBER'));
